@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
    overflow-x: hidden;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    color: white;
    background-color: #242d39;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > * {
    margin-bottom: 50px;
}

nav {
    margin-top: 10px;
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 790px) {
    nav {
        width: 100%;
    }
    header {
        padding-left: 45px;
        padding-right: 45px;
    } 
}

@media (max-width: 550px) {
    nav {
        flex-direction: column;
        gap: 20px;
    }

    nav > h3 {
        font-size: x-large;
    }
    
}

nav > .links {
    display: flex;
    gap: 20px;
}

nav > .links > .link {
    text-decoration: none;
    color: white;
    font-size: 12px;
}

.intro {
    display: flex;
}

@media (max-width: 790px) {
    .intro {
        width: 350px;
        flex-wrap: wrap;
        gap: 20px;
    }

    .intro > .card-img {
        height: 150px;
    }
}

.intro > * {
    width: 350px;
}

@media (max-width: 400px) {
    .intro > *, .intro {
        width: 300px;
    }
}



.intro > .card > .info {
    margin-bottom: 5px;
}

button {
    background-color: #437ef2;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 20px;
}

.card-img {
    display: flex;
    background-color: #6d737c;
    justify-content: center;
    align-items: center;
}

.mains {
    display: flex;
    flex-direction: column;
}

.section1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section1 > * {
    margin-top: 20px;
}

.section1 > :last-child{
    margin-bottom: 70px;
}

.blocks {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}

@media (max-width: 670px) {
    .blocks {
        width: 300px;
        flex-wrap: wrap;
    }  
}

.blocks > .block {
    width: 120px;
}

.blocks > .block > .box {
    height: 120px;
    border: 2px solid #437ef2;
    border-radius: 10px;
}

.blocks > .block > p {
    font-size: 12px;
    text-align: justify;
    text-align-last: center;
    text-justify: inter-character;
}

.section2 {
    display: flex;
    flex-direction: column;
    background-color: #e4e6ea;
    justify-content: center;
    align-items: center;
}

.section2 > * {
    margin-top: 70px;
}

.section2 > :last-child {
    margin-bottom: 60px;
}
.section2 > .content {
    max-width: 600px;
    margin-left: 40px;
    margin-right: 40px;
}

.section2 > .content > p {
    font-style: italic;
}

.section2 > .content > .author {
    text-align: end;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section3 > .content {
    display: flex;
    background-color: #437ef2;
    color: white;
    justify-content: space-evenly;
    align-items: center;
    /* width: 800px; */
    margin: 60px 60px;
    padding: 30px 0px;
}

@media(max-width: 500px) {
    .section3 > .content {
        flex-direction: column;
        gap: 30px;
    }

    .section3 > .content > button {
        padding-left: 40px;
        padding-right: 40px;
    }
}

.section3 > .content > * {
    margin: 0px 30px;
}

.section3 > .content > button {
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background-color: #242d39;
    color: white;
}

footer > p {
    text-align: center;
    margin: 10px 0px;
}